@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d7f9f1;
}

.cabecalho {
  display: flex;
  height: 100px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(assets/images/Cabeçalho\ Editado.png);
  background-color: white;
}

.cabecalho h1 {
  margin-top: 40px;
  margin-left: 350px;
  font-family: "Konkhmer Sleokchher", cursive;
}

.menu {
  background-color: #1d9531;
  height: 30px;
  padding-top: 10px;
}

.menu a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}

.menu a:hover {
  color: white;
  border-radius: 2px;
  text-decoration: underline;
}

main {
  display: flex;
}

.conteudo {
  width: 800px;
  min-width: 300px;
  height: 100%;
  background-color: #d7f9f1;
  margin: auto;
  margin-bottom: 20px;
}

.perguntas {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.perguntas:hover {
  box-shadow: -3px 0 #1d9531;
}

.pergunta {
  margin-top: 10px;
  padding: 30px 30px 30px 0px;
}

footer {
  background-color: #002500;
  text-align: center;
}

button {
  background-color: #ffe101;
  height: 30px;
  width: 90px;
  margin-bottom: 20px;
  margin-left: 980px;
  border-radius: 10px;
  border: none;
}

footer p {
  color: white;
}
